[submodule "ThirdParty/jsoncpp"]
	path = ThirdParty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "ThirdParty/mbedtls"]
	path = ThirdParty/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "ThirdParty/curl"]
	path = ThirdParty/curl
	url = https://github.com/curl/curl.git
[submodule "ThirdParty/libwebsockets"]
	path = ThirdParty/libwebsockets
	url = https://github.com/dmikushin/libwebsockets.git
	branch = binance-cxx-api
